@import 'tailwindcss';

@font-face {
    font-family: 'textreg';
    src: url('/fonts/Aspekta-200.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'textreg';
    src: url('/fonts/Aspekta-600.otf') format('opentype'); 
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'headings';
    src: url('/fonts/Slovic_Demo-Serif.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'serif';
    src: url('/fonts/Spectral-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@theme {
    --background-image-noise: linear-gradient(
            to bottom,
            color-mix(in oklab, var(--color-neutral-950) 0%, transparent),
            color-mix(in oklab, var(--color-neutral-950) 100%, transparent)
        ),
        url('/images/noise.png');
    --color-primary: #eae5dfff; 
    --color-primary-content: #171717;
    --color-secondary: #d1c8ffff; 
    --font-sans: 'textreg', sans-serif;
}

.font-bold-text {
    font-family: 'textreg', sans-serif;
    font-weight: bold;
}

.font-heading {
    font-family: 'headings', normal;
    font-weight: bold;
}

.font-serif {
    font-family: 'serif', normal;
    font-weight: bold;
}
@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    h3 {
        @apply text-xl font-bold;
    }

    a:not(.btn) {
        @apply underline transition hover:opacity-80;
    }
}